{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "target": "esnext",
        "paths": {
            "#lib/*": ["lib/*"]
        },
        "baseUrl": "src"
    },
    "module": {
        "type": "es6",
        "strict": true,
        "resolveFully": true
    },
    "sourceMaps": true,
    "isModule": true
}
